# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
venv/
.env

# Flask
instance/
.flaskenv

# React
node_modules/
dist/
.vite/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build
build/
coverage/